.listI {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-button,
.custom-buttonI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    padding: 40px;
    width: calc(50% - 100px);
    max-width: 300px;
    height: auto;
    background-color: #0B0C5E;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.custom-button:hover,
.custom-buttonI:hover {
    background-color: #325EA9 !important;
    transform: scale(1.05);
    box-shadow: 0 20px 25px -5px rgba(11, 12, 94, 0.2);
}

.custom-button .anticon, .custom-buttonI .anticon {
    font-size: 80px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .custom-button,
    .custom-buttonI {
        width: calc(50% - 100px);
    }
}

@media (max-width: 768px) {
    .custom-button,
    .custom-buttonI {
        width: calc(100% - 100px);
    }
}
/* Map container styles */
.leaflet-container {
    width: 100%;
    height: 100%;
  }
  
  /* Fix Leaflet marker icon */
  .leaflet-marker-icon {
    margin-left: -12px !important;
    margin-top: -41px !important;
  }